<%- include('partials/header') %>
    
    <main id="home">
        
        <%- include('partials/nav') %>
        <div id="home-text">
            <h1>Connect to the world.</h1>
            <h1>Rada?</h1>
            <h2>Share your good news!</h2>
        </div>
        
    </main>

<%- include('partials/footer') %>